<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8514a9d7-fbdd-4956-adb5-9685adf44e34" Alias="[SEO Parts] Nested Content - SEO Site Settings" Level="3">
  <Info>
    <Name>[SEO Parts] Nested Content - SEO Site Settings</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "seoPartsSlementSeoSiteSettings",
      "ncTabAlias": "SEO Site Settings",
      "nameTemplate": "SEO"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>