<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4402ac3e-d38a-4d92-a5bb-1b802909509d" Alias="[SEO Parts] Nested Content - SEO Page Settings" Level="3">
  <Info>
    <Name>[SEO Parts] Nested Content - SEO Page Settings</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "seoPartsElementSeoPageSettings",
      "ncTabAlias": "SEO",
      "nameTemplate": "SEO"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>