<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9b6010b-cc59-412f-9dbf-cb5cc9067492" Alias="SEO Parts - Appears  Hidden Toggle" Level="2">
  <Info>
    <Name>SEO Parts - Appears  Hidden Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>SEO+Parts</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": true,
  "LabelOn": "Appears",
  "LabelOff": "Hidden"
}]]></Config>
</DataType>