* text=auto

*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text
*.aspx    text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text
*.js 	  text
*.css	  text
*.scss 	  text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.gif     binary
*.jpeg    binary
*.jpg     binary
*.sdf     binary