<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cf7da16-f03f-4951-9ecf-d1aa76692a46" Alias="Checkbox - Pre-Checked" Level="2">
  <Info>
    <Name>Checkbox - Pre-Checked</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Core</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>