<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf6c64eb-36d3-480d-b1b1-42686b6ea6d1" Alias="Dropdown - SEO Frequency" Level="2">
  <Info>
    <Name>Dropdown - SEO Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Core</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "always"
    },
    {
      "id": 2,
      "value": "hourly"
    },
    {
      "id": 3,
      "value": "daily"
    },
    {
      "id": 4,
      "value": "weekly"
    },
    {
      "id": 5,
      "value": "monthly"
    },
    {
      "id": 6,
      "value": "yearly"
    },
    {
      "id": 7,
      "value": "never"
    }
  ]
}]]></Config>
</DataType>