<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4402ac3e-d38a-4d92-a5bb-1b802909509d" Alias="Nested Content - Page Settings" Level="3">
  <Info>
    <Name>Nested Content - Page Settings</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Core/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "elementSeoSettings",
      "ncTabAlias": "SEO",
      "nameTemplate": "SEO"
    },
    {
      "ncAlias": "elementScriptSettings",
      "ncTabAlias": "Scripts",
      "nameTemplate": "Scripts"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>