<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad24c34d-b1d8-41a2-8cf0-1bbe04354882" Alias="authors" Level="3">
  <Info>
    <Name>Authors</Name>
    <Icon>icon-user-females color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8c0538c4-3864-4b2c-939e-e4f4b33bb316" SortOrder="0">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>