<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23b11840-f12c-4a61-98e9-194f734d8394" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="d1ebfbe4-0cfe-4cdd-b6f6-7f19f08bbd9b">contentMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="05f492d1-4696-44ba-a41f-fbf7fb0a2029">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>