<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90c88861-8aeb-4ca8-bc12-af03b63a0a21" Alias="newsArticle" Level="3">
  <Info>
    <Name>News Article</Name>
    <Icon>icon-article color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Sections/News</Folder>
    <Compositions>
      <Composition Key="d1ebfbe4-0cfe-4cdd-b6f6-7f19f08bbd9b">contentMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
    </Compositions>
    <DefaultTemplate>NewsArticle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="703d42ac-6c03-4b0e-a84f-744cdf95c4ad">NewsArticle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>