<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bcb7dd13-3719-409d-9061-d86a4f1c868c" Alias="seoPartsPageSettingsMixin" Level="2">
  <Info>
    <Name>[SEO Parts] Page Settings Mixin</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>SEOParts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8908b7df-0373-45c9-a0b5-dbbc3465d9a1</Key>
      <Name>SEO Page Settings</Name>
      <Alias>seoPartsPageSettings</Alias>
      <Definition>4402ac3e-d38a-4d92-a5bb-1b802909509d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seoPageSettings1">SEO Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO Page Settings</Caption>
      <Alias>seoPageSettings1</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>