<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0e492ce-c583-43eb-8342-a2984667b263" Alias="seoPartsSiteSettingsMixin" Level="2">
  <Info>
    <Name>[SEO Parts] Site Settings Mixin</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>SEOParts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>770e34af-485c-4198-a6ae-c8d0a2704de5</Key>
      <Name>SEO Site Settings</Name>
      <Alias>seoPartsSiteSettings</Alias>
      <Definition>8514a9d7-fbdd-4956-adb5-9685adf44e34</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seoSiteSettings">SEO Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO Site Settings</Caption>
      <Alias>seoSiteSettings</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>