<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>

    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/ErrorPages/500.html">
      <error statusCode="400" redirect="~/ErrorPages/400.html" />
      <error statusCode="403" redirect="~/ErrorPages/403.html" />
      <error statusCode="404" redirect="~/ErrorPages/404.html" />
      <error statusCode="500" redirect="~/ErrorPages/500.html" />
    </customErrors>

  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <staticContent>
      <remove fileExtension=".air" />
      <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <clear />
        <rule name="Add Trailing Slash" enabled="true" stopProcessing="true">
          <match url="(.*[^/])$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="dtgePreview=1" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{URL}" pattern="/css" negate="true" />
            <add input="{URL}" pattern="/fonts" negate="true" />
            <add input="{URL}" pattern="/images" negate="true" />
            <add input="{URL}" pattern="/js" negate="true" />
            <add input="{URL}" pattern="/install" negate="true" />
            <add input="{URL}" pattern="/media" negate="true" />
            <add input="{URL}" pattern="/umbraco" negate="true" />
            <add input="{URL}" pattern="/umbraco_client" negate="true" />
            <add input="{URL}" pattern=".axd" negate="true" />
            <add input="{URL}" pattern=".ashx" negate="true" />
            <add input="{URL}" pattern=".asmx" negate="true" />
            <add input="{URL}" pattern=".aspx" negate="true" />
            <add input="{URL}" pattern=".js" negate="true" />
            <add input="{URL}" pattern=".css" negate="true" />
            <add input="{URL}" pattern=".png" negate="true" />
            <add input="{URL}" pattern=".jpg" negate="true" />
            <add input="{URL}" pattern=".pdf" negate="true" />
            <add input="{URL}" pattern=".doc" negate="true" />
            <add input="{URL}" pattern=".docx" negate="true" />
            <add input="{URL}" pattern=".xls" negate="true" />
            <add input="{URL}" pattern=".xlsx" negate="true" />
            <add input="{URL}" pattern=".txt" negate="true" />
            <add input="{URL}" pattern=".mov" negate="true" />
            <add input="{URL}" pattern=".avi" negate="true" />
            <add input="{URL}" pattern=".gif" negate="true" />
            <add input="{URL}" pattern=".jpeg" negate="true" />
            <add input="{URL}" pattern=".html" negate="true" />
            <add input="{URL}" pattern=".xml" negate="true" />
            <add input="{URL}" pattern=".rss" negate="true" />
            <add input="{URL}" pattern=".ico" negate="true" />
            <add input="{URL}" pattern=".map" negate="true" />
            <add input="{URL}" pattern=".swf" negate="true" />
            <add input="{URL}" pattern=".gif" negate="true" />
            <add input="{URL}" pattern=".woff" negate="true" />
            <add input="{URL}" pattern=".ttf" negate="true" />
            <add input="{URL}" pattern=".otf" negate="true" />
            <add input="{URL}" pattern=".eot" negate="true" />
            <add input="{URL}" pattern=".less" negate="true" />
            <add input="{URL}" pattern=".air" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule>
        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{URL}" pattern=".well-known" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}/" appendQueryString="true" redirectType="Permanent" />
        </rule>
        
        
        
      </rules>
    </rewrite>

   
    
  </system.webServer>








  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
