<?xml version="1.0" encoding="utf-8"?>
<Content Key="21a5b895-cf46-456c-b300-c08258869e23" Alias="Authors" Level="3">
  <Info>
    <Parent Key="397880f7-d2da-471c-a825-4ef85d1f16a7">Data Repositories</Parent>
    <Path>/MyApp/DataRepositories/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authors</ContentType>
    <CreateDate>2021-10-30T11:21:33</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>