<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ce494fd-ad3c-49e7-8b61-f9399e0dc905" Alias="Categories" Level="3">
  <Info>
    <Parent Key="4aa19842-cc17-4554-a93a-cad6db6b7401">Data Repositories</Parent>
    <Path>/MySiteContainer/DataRepositories/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2021-10-27T18:15:49</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>