<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ba46762-cb0a-48f1-bd74-db44f40cde62" Alias="Categories" Level="3">
  <Info>
    <Parent Key="397880f7-d2da-471c-a825-4ef85d1f16a7">Data Repositories</Parent>
    <Path>/MyApp/DataRepositories/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2021-10-30T11:21:33</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>