<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aa19842-cc17-4554-a93a-cad6db6b7401" Alias="Data Repositories" Level="2">
  <Info>
    <Parent Key="0b53fef2-2c87-49af-9d10-bf278a8b49f4">My Site Container</Parent>
    <Path>/MySiteContainer/DataRepositories</Path>
    <Trashed>false</Trashed>
    <ContentType>dataRepositories</ContentType>
    <CreateDate>2021-10-27T18:15:49</CreateDate>
    <NodeName Default="Data Repositories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>