<?xml version="1.0" encoding="utf-8"?>
<Content Key="6dc16966-281d-4790-9a05-bde6f2e4f992" Alias="My App" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MyApp</Path>
    <Trashed>false</Trashed>
    <ContentType>siteContainer</ContentType>
    <CreateDate>2021-10-30T11:21:32</CreateDate>
    <NodeName Default="My App" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>