<?xml version="1.0" encoding="utf-8"?>
<Content Key="e83c7ad9-33e3-4a7a-97db-21ea528829f6" Alias="News" Level="3">
  <Info>
    <Parent Key="75410a91-676c-4771-8077-917e072fd790">Website</Parent>
    <Path>/MySite/Website/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsLanding</ContentType>
    <CreateDate>2021-10-27T22:02:15</CreateDate>
    <NodeName Default="News" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="96944acb-73ad-48b6-90e3-09a94b8ed150">NewsLanding</Template>
  </Info>
  <Properties>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>