<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f5699c2-1612-468e-8ce6-2ce21befa962" Alias="Page Not Found" Level="3">
  <Info>
    <Parent Key="122a3b5e-a17d-4619-a5b3-ef48dbbd899b">Website</Parent>
    <Path>/MyApp/Website/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2021-10-30T11:21:33</CreateDate>
    <NodeName Default="Page Not Found" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a127c491-a302-42e5-b838-45de67566c00">Error404</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <title>
      <Value><![CDATA[Page Not Found]]></Value>
    </title>
  </Properties>
</Content>