<?xml version="1.0" encoding="utf-8"?>
<Content Key="84b3064d-09c2-4740-92c1-1ef8032aaebc" Alias="Page Not Found" Level="3">
  <Info>
    <Parent Key="75410a91-676c-4771-8077-917e072fd790">Website</Parent>
    <Path>/MySiteContainer/Website/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2021-10-27T18:15:50</CreateDate>
    <NodeName Default="Page Not Found" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <title>
      <Value><![CDATA[Page Not Found]]></Value>
    </title>
  </Properties>
</Content>