<?xml version="1.0" encoding="utf-8"?>
<Content Key="19f3e234-0fb6-42f6-a638-84bc73c0e02b" Alias="Tags" Level="3">
  <Info>
    <Parent Key="397880f7-d2da-471c-a825-4ef85d1f16a7">Data Repositories</Parent>
    <Path>/MyApp/DataRepositories/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>tags</ContentType>
    <CreateDate>2021-10-30T11:21:33</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>