<?xml version="1.0" encoding="utf-8"?>
<Content Key="73aab045-868d-4431-ac75-b66357e5df5b" Alias="Terms And Conditions" Level="3">
  <Info>
    <Parent Key="75410a91-676c-4771-8077-917e072fd790">Website</Parent>
    <Path>/MySiteContainer/Website/TermsAndConditions</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2021-10-27T18:15:50</CreateDate>
    <NodeName Default="Terms And Conditions" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageSettings>
      <Value><![CDATA[]]></Value>
    </pageSettings>
    <title>
      <Value><![CDATA[Terms And Conditions]]></Value>
    </title>
  </Properties>
</Content>