<?xml version="1.0" encoding="utf-8"?>
<Content Key="122a3b5e-a17d-4619-a5b3-ef48dbbd899b" Alias="Website" Level="2">
  <Info>
    <Parent Key="6dc16966-281d-4790-9a05-bde6f2e4f992">My App</Parent>
    <Path>/MyApp/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>siteRoot</ContentType>
    <CreateDate>2021-10-30T11:21:32</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <siteSettings>
      <Value><![CDATA[]]></Value>
    </siteSettings>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/3c132d9e84294676912d7e0047298917]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>