<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7736230d-0235-41b2-a865-3927d3503e04" Alias="basePage" Level="1">
  <Info>
    <Name>Base Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">mixinPageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>