<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64042564-a6e5-4833-a07e-bbe7ae57eddb" Alias="basicContent" Level="1">
  <Info>
    <Name>Basic Content</Name>
    <Icon>icon-document color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="d1ebfbe4-0cfe-4cdd-b6f6-7f19f08bbd9b">contentMixin</Composition>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">pageSettingsMixin</Composition>
    </Compositions>
    <DefaultTemplate>BasicContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="18b99879-6147-464f-af72-a150874dae6d">BasicContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>