<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1eb89952-bf37-49ec-9b44-c98789c508fd" Alias="categories" Level="3">
  <Info>
    <Name>Categories</Name>
    <Icon>icon-categories color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="952d1375-d992-4dea-bfdb-aeb6072a0db5">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>