<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eec6a97b-5029-4c1b-9aa8-ca98c414682a" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="7736230d-0235-41b2-a865-3927d3503e04">basePage</Parent>
    <Compositions>
      <Composition Key="7736230d-0235-41b2-a865-3927d3503e04">basePage</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="08e370ef-2576-45e9-ba8b-43875f3044da">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eec6a97b-5029-4c1b-9aa8-ca98c414682a">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>