<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e451a88f-1c62-4b08-abd1-bcf3e9b54dcf" Alias="dataRepositories" Level="2">
  <Info>
    <Name>Data Repositories</Name>
    <Icon>icon-server-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ad24c34d-b1d8-41a2-8cf0-1bbe04354882">authors</ContentType>
    <ContentType Key="7513eb3b-fbd0-449b-9408-b2b10ff0eef0">taxonomies</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>