<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76939fae-9698-4327-a182-144508c1c9e0" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="7736230d-0235-41b2-a865-3927d3503e04">basePage</Parent>
    <Compositions>
      <Composition Key="7736230d-0235-41b2-a865-3927d3503e04">basePage</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="728879c7-6b05-4fa5-b0a8-f50564268944">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f00e4507-ff0f-4707-86d7-17f43196abd9</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>