<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d80a4e84-bd19-4a81-91a8-7baf5fa09fe2" Alias="newsLanding" Level="3">
  <Info>
    <Name>News Landing</Name>
    <Icon>icon-newspaper-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Sections/News</Folder>
    <Compositions>
      <Composition Key="bcb7dd13-3719-409d-9061-d86a4f1c868c">mixinPageSettings</Composition>
    </Compositions>
    <DefaultTemplate>NewsLanding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c374c2d5-8c79-462a-af75-feb323b21447">NewsLanding</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>