<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee1bc6a6-857e-48f1-a100-50bb25b07c3d" Alias="seoSettings" Level="2">
  <Info>
    <Name>SEO</Name>
    <Icon>icon-poll color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6c8513f8-3981-40eb-aefa-1a3ae5c26ee8</Key>
      <Name>Robots txt</Name>
      <Alias>robotsTxt</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Robots</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Robots</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>