<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c5f85ff-f68a-42f7-a49a-25d631f78475" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ee1bc6a6-857e-48f1-a100-50bb25b07c3d">seoSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>