<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87baffd6-c8ed-45ed-b137-1b6f0c79c88a" Alias="siteRoot" Level="2">
  <Info>
    <Name>Site Root</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c461432-e878-44a4-a78c-7c692441a724">error404</ContentType>
    <ContentType Key="3ca93764-56f4-4b07-a280-40ddf0a34ada">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0b4f0690-6333-439c-b361-2971d42df8ab</Key>
      <Name>Settings</Name>
      <Alias>siteSettings</Alias>
      <Definition>8514a9d7-fbdd-4956-adb5-9685adf44e34</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Site Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b261a273-8ebc-4190-a7f9-20fd5d2c3603</Key>
      <Name>Home Page</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Site Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Site Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>