<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87baffd6-c8ed-45ed-b137-1b6f0c79c88a" Alias="siteRoot" Level="2">
  <Info>
    <Name>Site Root</Name>
    <Icon>icon-globe color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c461432-e878-44a4-a78c-7c692441a724">error404</ContentType>
    <ContentType Key="76939fae-9698-4327-a182-144508c1c9e0">home</ContentType>
    <ContentType Key="0c5f85ff-f68a-42f7-a49a-25d631f78475">settings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>