<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87baffd6-c8ed-45ed-b137-1b6f0c79c88a" Alias="site" Level="2">
  <Info>
    <Name>Site</Name>
    <Icon>icon-umb-translation color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eec6a97b-5029-4c1b-9aa8-ca98c414682a">contentPage</ContentType>
    <ContentType Key="5c461432-e878-44a4-a78c-7c692441a724">error404</ContentType>
    <ContentType Key="3ca93764-56f4-4b07-a280-40ddf0a34ada">homePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>00558c00-496a-4a6b-a1a4-d4f44c8308b1</Key>
      <Name>Not Found Page</Name>
      <Alias>notFoundPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Site Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0b4f0690-6333-439c-b361-2971d42df8ab</Key>
      <Name>Settings</Name>
      <Alias>siteSettings</Alias>
      <Definition>8514a9d7-fbdd-4956-adb5-9685adf44e34</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Optional Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>45552c55-36cd-4962-9613-56a7cbb451fe</Key>
      <Name>Site Title</Name>
      <Alias>siteTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Site Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b261a273-8ebc-4190-a7f9-20fd5d2c3603</Key>
      <Name>Home Page</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Site Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Site Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Optional Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>