<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="279d4a1d-d761-40eb-a1d1-f2064daab756" Alias="siteContainer" Level="2">
  <Info>
    <Name>Site Container</Name>
    <Icon>icon-globe color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core</Folder>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e9b6277e-098b-44d4-866f-a56e41846ce6">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c1e3e9d3-a7d0-4bb4-926f-41eb20909ad3">repositoryContainer</ContentType>
    <ContentType Key="87baffd6-c8ed-45ed-b137-1b6f0c79c88a">site</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>