<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="adf0a9d5-a39f-4941-a3ee-5039bc495ace" Alias="tags" Level="3">
  <Info>
    <Name>Tags</Name>
    <Icon>icon-tags color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bcfb80cd-3173-44ca-b58b-268b1d86ca36">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>