<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7513eb3b-fbd0-449b-9408-b2b10ff0eef0" Alias="taxonomies" Level="3">
  <Info>
    <Name>Taxonomies</Name>
    <Icon>icon-sitemap color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Repositories/Data+Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1eb89952-bf37-49ec-9b44-c98789c508fd">categories</ContentType>
    <ContentType Key="adf0a9d5-a39f-4941-a3ee-5039bc495ace">tags</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>